@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: #ffeb6d;
  max-width: 650px;
}

.hard-level {
  max-width: 960px;
}

/* all buttons */
button {
  font: 300 1.1rem 'Roboto', sans-serif;
  letter-spacing: 1px;
  padding: 1rem;
  cursor: pointer;
}

button:active {
  transform: translateY(3px);
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #71a8e9;
}

/* grid + cards */
#game {
  margin-bottom: 2rem;
}
.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,
.back,
.front {
  height: 150px;
  width: 150px;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  background: #71a8e9;
  border-radius: 10px;
}

.back {
  transform: rotateY(180deg);
  background-color: #ffeb6d;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #ffeb6d !important;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 640px;
  margin: 1rem auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.difficulties {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.difficulty-button {
  background-color: transparent;
  width: 110px;
  border: 1px solid #545b60;
  color: #545b60;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: transform 200ms;
}

.difficulty-button:first-child {
  border-radius: 10px 0 0 10px;
  border-right: none;
}
.difficulty-button:last-child {
  border-radius: 0 10px 10px 0;
  border-left: none;
}

.chosen {
  background-color: #545b60;
  color: white;
  transition: all 500ms;
}

.difficulty-button:hover {
  color: #fff;
}
.difficulty-button::after {
  content: '';
  background: #545b60;
  position: absolute;
  z-index: -1;
  display: block;
}
.difficulty-button::after {
  transition: all 500ms;
}
.difficulty-button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 500ms;
}
.difficulty-button::after {
  left: 0;
  right: 0;
  top: -100%;
  bottom: 100%;
}
.chosen::after {
  left: 0;
  right: 0;
  bottom: -100%;
}

/* modal */
.modal {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: auto;
}

.modal-box {
  background: white;
  margin: 200px auto;
  width: 500px;
  height: 300px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5),
    2px 10px 30px 0 rgba(0, 0, 0, 0.5);
  animation: fadein 700ms;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body h2 {
  font: 300 2.5rem 'Roboto', sans-serif;
}

.modal-body img {
  width: 75px;
}

.close-button {
  margin-left: 475px;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: gray;
  cursor: pointer;
  border: none;
}

.close-button:hover,
.close-button:focus {
  color: black;
}

.play-again {
  width: 175px;
  background-color: #117855;
  color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 5px 6px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 500ms, transform 200ms;
}

.play-again:hover {
  background-color: #5fc39e;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  font: 300 1rem 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
p a {
  color: #545b60;
  text-decoration: none;
  transition: all 200ms;
}
p a:hover {
  color: #000;
  text-decoration: underline;
}

@keyframes fadein {
  0% {
    opacity: 0.5;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(100%, 100%);
  }
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  footer {
    position: static;
  }
}
